
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
        
    margin: 0px;
    min-height: 100vh;    
    /* default */
    background-color: rgb(236, 235, 225);
}

/* Generic styles */
p, h4, h3, h2{
    margin: 5px;
}

input{
    margin: 0;
}

ul{
    list-style-type: none;
}

.text{
    font-weight: 900;
    font-style: oblique;
    color: rgb(48, 48, 48);
}

.menustyle{
    border: 5px #576e79;
    border-style:solid;
    box-shadow: 5px 5px #93acb8;
    border-radius: 3px;
    background-color: beige
}

/* Header/Footer imported from own template */
header,
footer{
    display: flex;
    width: 100%;
    align-items: center;
    font-weight: 900;
    background-color:#dcedf5;
}

header{
    margin-bottom: auto;
    border-bottom: 12px solid #93acb8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logo{
    display: flex;
    gap: 10px;
    font-size: 24px;
}

a:link,
a:visited{
    color: black;
    text-decoration: none;
    font-style: italic;
}

.gamelinks{
    display: flex;
    align-items: baseline;
    padding: 10px;
}

.gamelinks ul>li{
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
}

footer{
    justify-content: center;
    margin-top: auto;
    border-top: 10px solid #93acb8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.footer-text{
    display: flex;
    gap: 10px;
    align-items: center;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */


.project-content{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    border: 1px dotted purple;
}

#canvas-flex{
    display: flex;
    justify-content: center;
    border: 2px solid green;
    flex: 0 1 600px;
    

}
#canvas{
    display: grid;
    border: 3px grey double;
    flex: 0 auto;
    min-height: 400px;
    min-width: 400px;
    margin: 20px;

}

/* ### Left side of page */
.left-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    background-color: #dcedf5;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    min-width: 240px;
}










.color-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    flex: 0 0 auto;
    height: 320px;
    
    font-style: oblique;
    font-weight: 600;
}
.palette{
    display:flex;
    align-items: flex-start;

}
.sub-palette{
    display: flex;
    flex-direction: column;
    flex: 0;
    padding:4px;
    width: 80%;
}

#palette-title{
    flex: 0 1 0;
    font-weight: 200;
    align-self: flex-end;
    letter-spacing: 1em;
}


/* ^^^^^^^^^^^^^^^^^^^^^^ */


/* ### Right side of page */
.right-flex{
    display: flex;
    flex: 0 1 auto;
    justify-content: flex-start;
    width: 20%;
    border: 1px red solid;
}
.right-menu{
    display: flex;
    flex-direction: column;
    gap: 100px;
    flex: 0 1;

    background-color: #dcedf5;
    width: 60%;
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}
.lower-right-menu{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}



/* ^^^^^^^^^^^^^^^^^^^^^^^^^^


/* Grid Elements */
.pixel{
    background-color: white;
    
}

.pixelgrid{
    border: 1px dotted black;
}

#clear-canvas{
    background-color: antiquewhite;
    padding: 2px;
    border: 1px solid rgb(167, 0, 0);
}

.color-picker{
    height: 24px;
    width: 24px;
    border-radius: 5px;
}


.color-type{
    display: flex;

}

.greyscale{
    display: flex;
    padding: 5px;
    flex-direction: column;
}

#current-color{
    border: 2px solid white;
    border-radius: 10px;
    height: 35px;
    width: 35px;
}

#custom{
    display: flex;
    align-items: center;
    padding:5px;
    gap: 5px;
    border: 1px solid red;
    font-size: 20px;
}

#custom #custom-picker{
    border: 2px solid darkgray;
    border-style: groove;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    padding: 0;
    
}

#canvas-palette{
    display: flex;
    
    border: 1px red solid;
}






button{
    border-style: outset;
    background-color: #dcedf5;
    font-weight: 600;
    border-radius: 8px;
    height: 24px;
}

.tools{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
    height: 100%;
    margin: 0;
    padding: 5%;
}

.tool-buttons{
    display: flex;
    flex-shrink: 1;
    width: 90%;
    align-items: center;    
}

#tools-title{
    font-weight: 200;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

#fill-arrow{
    font-size: 24px;
}

.tool{
    background-color: #ececec; 
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.tool button{
    margin-right: auto;
    width: 5em;
}

.rainbow{
    width: 100%;
    border-radius: 2px;
    
}
#splatter{
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    flex: 1;
    height: 24px;
    justify-content: space-around;
    align-items: flex-start;
}

.splatter{
    flex: 0 1 15px;
    width: 1em;
    height: 50%;
}

#brushColor{
    width: calc(100% - 4em);
}

.inactive{
    font-style: oblique;
    opacity: 20%;
}

button:active{
    font-style: italic;
    border-style:inset;
    background-color: #a5cbdd;
}

.toggle{
    font-style: italic;
    border-style:inset;
    background-color: #a5cbdd;
}

/* BG Colors */



.canvas-picker#antiquewhite{
    background-color: antiquewhite;
}
.canvas-picker#lightgoldenrodyellow{
    background-color:lightgoldenrodyellow;
}
.canvas-picker#white{
    background-color:white;
}
.canvas-picker#floralwhite{
    background-color:floralwhite
}
.canvas-picker#black{
    background-color:black;
}

