
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;  

    margin: 0px;
    min-height: 100vh;    
    /* default */
    background-color: rgb(236, 235, 225);
}

/* Generic styles */
p, h4, h3, h2{
    margin: 5px;
}

#title-container{
    display: flex;
    justify-content: center;
    margin-bottom: -68px;

}


#title{
    justify-self: center;
    background-color: #dcedf5;
    padding: 10px 20px 10px 20px;
    width: 510px;

    

    text-align: center;
    font-size: 40px;
    font-style: oblique;
    font-weight: 500;
    border: 1px solid #dcedf5;
    border-radius: 10px;
    color: black;
    text-shadow: 3px 2px #39505a;
}

input{
    margin: 0;
}

ul{
    list-style-type: none;
}

.text{
    font-weight: 900;
    font-style: oblique;
    color: rgb(48, 48, 48);
}

.menustyle{
    border: 5px #576e79;
    border-style:solid;
    box-shadow: 5px 5px #93acb8;
    border-radius: 3px;
    background-color: beige
}

/* Header/Footer imported from own template */
header,
footer{
    display: flex;
    width: 100%;
    align-items: center;
    font-weight: 900;
    background-color:#dcedf5;
}

header{
    
    border-bottom: 12px solid #93acb8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logo{
    display: flex;
    gap: 10px;
    font-size: 24px;
}

a:link,
a:visited{
    color: black;
    text-decoration: none;
    font-style: italic;
}

.gamelinks{
    display: flex;
    align-items: baseline;
    padding: 10px;
}

.gamelinks ul>li{
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
}

#bg-color{
    margin-bottom: auto;
}


footer{
    justify-content: center;
    margin-top: auto;
    border-top: 10px solid #93acb8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.footer-text{
    display: flex;
    gap: 10px;
    align-items: center;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */


.project-content{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}

#canvas-flex{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex: 0 1 600px;
    gap: 20px;
    

}
#canvas{
    display: grid;
    border: 3px grey double;
    flex: 0 auto;
    min-height: 400px;
    min-width: 400px;
    max-width: 400px;
    margin: 20px;

}

/* ### Left side of page */
.left-flex{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    background-color: #dcedf5;
    border: 1px solid #dcedf5;
    border-radius: 5px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    min-width: 240px;
}


.color-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    flex: 0 0 auto;
    height: 320px;
    
    font-style: oblique;
    font-weight: 600;
}
.palette{
    display:flex;
    align-items: flex-start;

}
.sub-palette{
    display: flex;
    flex-direction: column;
    flex: 0;
    padding:4px;
    width: 80%;
}

#palette-title{
    flex: 0 1 0;
    font-weight: 200;
    align-self: flex-end;
    letter-spacing: 1em;
}


/* ^^^^^^^^^^^^^^^^^^^^^^ */


/* ### Right side of page */
.right-flex{
    display: flex;
    flex: 0 1 auto;
    justify-content: flex-start;
    width: 20%;
}

#upper-right-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}


.right-menu{
    display: flex;
    flex-direction: column;
    gap: 100px;
    flex: 0 1;

    background-color: #dcedf5;
    width: 60%;
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.lower-right-menu{
    display: flex;
    min-width: 80px;
    flex: 1;
    flex-direction: column;
    align-items: center;
}



/* ^^^^^^^^^^^^^^^^^^^^^^^^^^*/


#slider{
    width: 100%;
}


/* Grid Elements */
.pixel{
    background-color: white;
    
}

.pixelgrid{
    border: 1px dotted black;
}

#clear-canvas{
    background-color: antiquewhite;
    padding: 2px;
    border: 1px solid rgb(167, 0, 0);
}

.color-picker{
    height: 24px;
    width: 24px;
    border-radius: 5px;
}


.color-type{
    display: flex;

}

.greyscale{
    display: flex;
    padding: 5px;
    flex-direction: column;
}

#current-previous{
    display: flex;
    flex-direction: row-reverse;
}

#current-color{
    border: 2px solid black;
    box-shadow: 1px 1px;
    border-radius: 10px;
    height: 35px;
    width: 35px;
}

#previous-color{
    height: 17px;
    width: 17px;
    border-radius: 5px;
}


#custom #custom-picker{

    border: 0;
    border-radius: 5px;
    height: 24px;
    padding: 0;
    width: 100%;
    
}

#canvas-palette{
    display: flex;
    
}

button{
    border-style: outset;
    background-color: #dcedf5;
    font-weight: 600;
    border-radius: 5px;
    height: 24px;
}

.tools{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
    height: 100%;
    margin: 0;
    padding: 5%;
}

.tool-buttons{
    display: flex;
    flex-shrink: 1;
    width: 90%;
    align-items: center;    
}

#tools-title{
    font-weight: 200;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

#fill-arrow{
    font-size: 24px;
}

.tool{
    background-color: #ececec; 
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.tool button{
    margin-right: auto;
    padding: 1px;
    width: 5em;
}

.rainbow{
    width: 100%;
    border-radius: 2px;
    
}
#splatter{
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    flex: 1;
    height: 24px;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 0;
}

.splatter{
    width: 1em;
    border-radius: 50%;
}

#brushColor{
    width: calc(100% - 4em);
}

.inactive{
    font-style: oblique;
    opacity: 20%;
}

button:active{
    font-style: italic;
    border-style:inset;
    background-color: #a5cbdd;
}

.toggle{
    font-style: italic;
    border-style:inset;
    background-color: #a5cbdd;
}

/* BG Colors */

#bg-color{
    display: flex;
    align-self: flex-end;
    flex: 0 1 0;
    gap: 5px;
}

#bg-color input{

    border: none;
    width: 15px;
}

.canvas-picker#antiquewhite{
    background-color: antiquewhite;
}
.canvas-picker#lightgoldenrodyellow{
    background-color:lightgoldenrodyellow;
}
.canvas-picker#white{
    background-color:white;
}
.canvas-picker#floralwhite{
    background-color:floralwhite
}
.canvas-picker#black{
    background-color:black;
}

.modal {
    display: none;
    position:fixed;
    z-index: 1;
    top: 100px;
    left: 300px;
    width: 50%;
    height: 50%;
    overflow: auto;
    background-color: white;
    background-color: #dcedf573;
}

.modal-content{
    background-color: rgba(255, 255, 240, 0.479);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid black;
    width: 80%;
}

.closeModal {
    color: #576e79;
    float: right;
    font-size: 18px;
    font-weight: 800;
}

.close:hover,
.close:focus {
    color:black;
    text-decoration: none;
    cursor:pointer;
}

#undo{
    align-self: flex-end;
}